<div style="background-color: #F5F7FB; ">
  <div class="" style="background-color: white">
    <div class="">
      <h2>Browse all steplists</h2>
    </div>
  </div>

<div class="container">
  <%= render 'shared/tabs_index_bootstrap_tabs' %>

    <div class="container steplist-cards-background" style="padding-top: 40px; background-color: gray;">

      <%  @steplists.each do  |steplist|%>
        <%=  render 'shared/steplist_card', steplist: steplist %>
      <% end %>
    </div>

</div>


  <%= link_to "browse organizations", organizations_path, class: 'btn btn-primary btn-sm'  %>
  <%= link_to "Add new Organization", new_organization_path, class: 'btn btn-primary btn-sm'  %>
  <%= link_to "My pins", my_pins_path, class: 'btn btn-primary btn-sm'  %>
