<div style="background-color: #1b3660; ">
  <div class="">
    <div class="container">
      <h4 style="color: #fc6e5c; padding-top: 15px; padding-bottom: 15px;">Browse steplists:</h4>
    </div>
  </div>

<div class="container">
  <%= render 'shared/tabs_index_bootstrap_tabs' %>

    <div class="container steplist-cards-background" style="padding-top: 40px; background-color: #284f8a;">

      <%  @steplists.each do  |steplist|%>
        <%=  render 'shared/steplist_card', steplist: steplist %>
      <% end %>
    </div>

</div>


  <%= link_to "browse organizations", organizations_path, class: 'btn btn-primary btn-sm'  %>
  <%= link_to "Add new Organization", new_organization_path, class: 'btn btn-primary btn-sm'  %>
  <%= link_to "My pins", my_pins_path, class: 'btn btn-primary btn-sm'  %>
