
<!-- Steplist header -->

<div class="steplist-show-header">

      <h2><%= @steplist.title %></h2>

 </div>

<div class = "steplist-show-infobar">
    <ul>
      <li>Author: <%= @steplist.id  %></li>
      <li>Last edited: <%= @steplist.steps.count %></li>
      <li>Completion: <%= @steplist.id  %></li>
    </ul>
</div>

<div class="container">
  <p>Steplist id: <%= @steplist.description  %></p>
    <ul>
      <% @steplist.steps.each do |step|  %>
      <li>
          <%=step.title %>
      </li>
          </ul>
      <% end %>

</div>

<div class="container" >
<%= link_to "Edit", edit_steplist_path(@steplist), class: 'btn btn-success'  %>
<%= link_to "Destroy", steplist_path(@steplist),method: :delete,data: {confirm: "No going Back"}, class: 'btn btn-danger'  %>


  <ol>
    <% @steplist.steps.each do |step|  %>
    <li>
        <%=step.title %>
        <%= link_to 'delete',steplist_step_path(@steplist, step),method: :delete,data:{confim: "no going back"}, class: 'btn btn-danger btn-xs' %>
        <%= link_to 'edit',edit_steplist_step_path(@steplist, step),class: 'btn btn-success btn-xs' %>
        <br>
        <%= step.description  %>
    </li>
    <% end %>
  </ol>

  <h4>Add a Step to this steplist</h4>
  <%= render 'shared/form_step'  %>


<%= link_to "Edit", edit_steplist_path(@steplist), class: 'btn btn-success btn-lg'  %>
<%= link_to "Destroy", steplist_path(@steplist),method: :delete,data: {confirm: "No going Back"}, class: 'btn btn-danger btn-lg'  %>



<p>Find me in app/views/steplists/show.html.erb</p>

 <%= render 'shared/step_card' %>


</div>

