<h1>Steplists#show</h1>
<h2>Show page for Steplist title: <%= @steplist.title %></h2>
<h3>Steplist id: <%= @steplist.id  %></h3>
<h3>Steplist id: <%= @steplist.description  %></h3>
<h4>Total Steps for this steplist: <%= @steplist.steps.count %></h4>
  <ul>
    <% @steplist.steps.each do |step|  %>
    <li>
        <%=step.title %>
    </li>
    <% end %>
  </ul>


<%= link_to "Edit", edit_steplist_path(@steplist), class: 'btn btn-success btn-lg'  %>
<%= link_to "Destroy", steplist_path(@steplist),method: :delete,data: {confirm: "No going Back"}, class: 'btn btn-danger btn-lg'  %>
<p>Find me in app/views/steplists/show.html.erb</p>
