
<div style="background-color: #1C375D;">
<div class="container" style="display: flex; justify-content: center; ">

  <!-- Steplist header -->
  <div class="steplist-show-header" style="background-color: white">
    <div class="container steplist-header-text-container" style="display: flex; justify-content: center;">
      <div style= 'max-width: 600px; text-align: center;'>
        <h2><%= @steplist.title %></h2>
        <p> Created by: <strong><%= "#{@steplist.user.first_name.capitalize} #{@steplist.user.last_name.capitalize}"  %></strong>  |  Last edited: <strong><%= @steplist.updated_at.strftime("%d/%m/%Y") %></strong></p>
        <h4><%= @steplist.description %></h4>
        <p>Total Steps: <%= @steplist.steps.count  %></p>
        <% if @steplist.tag_names.any?  %>
          <% @steplist.tag_names.each do |tag| %>
            <p class="btn btn-primary btn-xs"> <%= link_to "##{tag}", search_path(query: tag), class: 'tag-link-text'%></p>
          <% end %>
        <% end %>
        <% if current_user == @steplist.user %>
          <%= link_to 'Edit', edit_steplist_path(@steplist), class: 'btn btn-success btn-sm'  %>
          <%= link_to 'Delete', steplist_path(@steplist), method: :delete, data: {confirm: "No going back"}, class: 'btn btn-danger btn-sm' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- STEPLIST INFO BAR -->

  <!-- RENDER LÃNEA DE TIEMPO -->
  <section id="cd-timeline" class="cd-container">
    <% @steplist.steps.order(created_at: :asc).each do |step|  %>
    <%= render 'shared/step_card', step: step %>
    <% end %>
    <!-- END OR ADD ICON AND LINE  -->

  </section>
  <!-- NEW STEP FORM   -->

  <% if current_user == @steplist.user %>
  <div class="cd-timeline-block" onclick="myFunction()">
    <div class="cd-timeline-img cd-add fadeIn ">
      <i class="fa fa-plus plus-icon"" id="center-icon"></i>
    </div>
  </div>
  <% else %>
  <div class="cd-timeline-block" onclick="myFunction()">
    <div class="cd-timeline-img cd-end fadeIn ">
    </div>
  </div>
  <%end%>
  <div class="container fadeIn" style="width: 300px">
    <div id="new-step-form" class="fadeIn color-text">
      <h4>Add a Step to your steplist</h4>
      <% if current_user == @steplist.user %>
      <%= render 'shared/form_step', steplist: @steplist, step: @step  %>
      <% end %>
    </div>
  </div>

  <script>
    function myFunction() {
      var x = document.getElementById("new-step-form");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  </script>
</div>
</div>

