
<!-- Steplist header -->

<div class="steplist-show-header">

      <h2><%= @steplist.title %></h2>

 </div>

<div class = "steplist-show-infobar">
    <ul>
      <li>Author: <%= @steplist.id  %></li>
      <li>Last edited: <%= @steplist.steps.count %></li>
      <li>Completion: <%= @steplist.id  %></li>
    </ul>
</div>

<div class="container" >

  <h1>Steplists#show</h1>
  <h2>Show page for Steplist title: <%= @steplist.title %></h2>
  <h3>Steplist id: <%= @steplist.id  %></h3>
  <h3>Steplist id: <%= @steplist.description  %></h3>
  <h4>Total Steps for this steplist: <%= @steplist.steps.count %></h4>

  <% if current_user == @steplist.user %>
    <%= link_to "Edit", edit_steplist_path(@steplist), class: 'btn btn-success'  %>
    <%= link_to "Destroy", steplist_path(@steplist),method: :delete,data: {confirm: "No going Back"}, class: 'btn btn-danger'  %>
  <% end %>


  <div class="step-container" >
    <table class='table' id="steps">
    <% @steplist.steps.each do |step|  %>
      <%= render 'shared/show_step', step: step  %>
    <% end %>
    </table>
  </div>

  <% if current_user == @steplist.user %>
    <h4>Add a Step to your steplist</h4>
    <%= render 'shared/form_step', steplist: @steplist, step: @step  %>
  <% end %>


</div>

<!-- RENDER LÃNEA DE TIEMPO -->

<div style="background-color: #F2F2F2; ">

<p>Find me in app/views/steplists/show.html.erb</p>

<section id="cd-timeline" class="cd-container">
 <%= render 'shared/step_card' %>
</section>

</div>
