<!-- Steplist header -->
<div class="steplist-show-header" style="background-color: white">
  <div class="container steplist-header-text-container">
  <h2><%= @steplist.title %></h2>
  <h4><%= @steplist.description %></h4>
</div>
</div>


<div class="container" >

</div>


<!-- STEPLIST INFO BAR -->


<div class = "steplist-show-infobar">
  <ul>
    <li>Author: <%= "#{@steplist.user.first_name.capitalize} #{@steplist.user.last_name.capitalize}"  %></li>
    <li>Completion: <%= @steplist.id  %></li>
    <li>Last edited: <%= @steplist.updated_at %></li>
    <li>Total Steps: <%= @steplist.steps.count  %></li>
  </ul>
</div>


<div style="background-color: #F5F7FB;">

  <!-- RENDER LÃNEA DE TIEMPO -->
  <section id="cd-timeline" class="cd-container">
    <% @steplist.steps.order(created_at: :asc).each do |step|  %>
    <%= render 'shared/step_card', step: step %>
    <% end %>
  </section>


  <!-- NEW STEP FORM   -->
  <div class="container" style="width: 300px">
    <% if current_user == @steplist.user %>
    <%= render 'shared/form_step', steplist: @steplist, step: @step  %>
    <% end %>
  </div>

</div>

  <!-- STEP POPUPS  -->
  <% @steplist.steps.each do |step|  %>
  <div id="popup<%= step.id %>" class="overlay">
    <div class="popup">
      <h2 class="step-popup-title"><%= step.title %></h2>
      <a class="close" href="javascript:history.back()">&times;</a>
      <div class="content">
        <%= render 'shared/show_of_step', step: step %>

      </div>
    </div>
  </div>
  <% end  %>




<div class="steplist-show-header" style="background-color: white">
</div>
