
<!-- Steplist header -->
<div class="steplist-show-header" style="background-color: white">
  <div class="container steplist-header-text-container">
    <h2><%= @steplist.title %></h2>
    <h4><%= @steplist.description %></h4>
  </div>
</div>

<!-- STEPLIST INFO BAR -->


<div class = "steplist-show-infobar">
  <ul>
    <li>Author: <%= "#{@steplist.user.first_name.capitalize} #{@steplist.user.last_name.capitalize}"  %></li>
    <li>Completion: <%= @steplist.id  %></li>
    <li>Last edited: <%= @steplist.updated_at.strftime("%d/%m/%Y") %></li>
    <li>Total Steps: <%= @steplist.steps.count  %></li>
  </ul>
</div>

  <% if @steplist.tag_names.any?  %>
    <ul>
      <% @steplist.tag_names.each do |tag| %>
        <li> <%="##{tag}"%></li>
      <% end %>
     </ul>
  <% end %>

<div style="background-color: #838C92;">
  <!-- RENDER LÃNEA DE TIEMPO -->
  <section id="cd-timeline" class="cd-container">
    <% @steplist.steps.order(created_at: :asc).each do |step|  %>
      <%= render 'shared/step_card', step: step %>
    <% end %>
    <!-- END OR ADD ICON AND LINE  -->

  </section>
  <!-- NEW STEP FORM   -->

    <% if current_user == @steplist.user %>
      <div class="cd-timeline-block" onclick="myFunction()">
        <div class="cd-timeline-img cd-add fadeIn ">
          <i class="fa fa-plus plus-icon"" id="center-icon"></i>
        </div>
      </div>
      <% else %>
      <div class="cd-timeline-block" onclick="myFunction()">
        <div class="cd-timeline-img cd-end fadeIn ">
        </div>
      </div>
    <%end%>
    <div class="container fadeIn" style="width: 300px">
  <div id="new-step-form" class="fadeIn">
      <% if current_user == @steplist.user %>
        <%= render 'shared/form_step', steplist: @steplist, step: @step  %>
      <% end %>
    </div>
  </div>

  <script>
  function myFunction() {
      var x = document.getElementById("new-step-form");
      if (x.style.display === "none") {
          x.style.display = "block";
      } else {
          x.style.display = "none";
      }
  }
  </script>

  <!-- STEP POPUPS  -->

</div>

<div class="steplist-show-header" style="background-color: white">

</div>
