
<!-- TEST NAVBAR FROM BOOTSTRAP -->

<nav class="navbar navbar-default" id="r-navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Stepify</a>
    </div>








    <ul class="nav navbar-nav navbar-right">
     <li>
      <div class="search-bar" style="">
        <%= form_tag search_path,method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control", placeholder: 'See steps for...', style: 'background-color: #f5f5f5; color: rgba(0, 0, 0, 0.075);border-style: none;color: #777; height: 30px; margin-top: 7px' %>
        <% end %>
      </div>
    </li>

    <li><%= link_to "Companies", organizations_path, class: "navbar-wagon-item navbar-wagon-link" %>
    </li>










    <!-- Stepify if logged in ///// -->
    <% if user_signed_in? %>
    <!-- Links when logged in////////// -->
    <li><%= link_to "Dashboard", dashboard_path, class: "navbar-wagon-item navbar-wagon-link" %>
    </li>

    <li><%= link_to "New Steplist", new_steplist_path, class: "navbar-wagon-item navbar-wagon-link" %>
    </li>
    <!-- Login link (when logged out) -->




      <li class="dropdown">
        <% if current_user.user_photo.present? %>
      <%= cl_image_tag current_user.user_photo,class: "stepify-avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown"   %>
      <% else %>
      <%= image_tag "avatar_test.png", class: "stepify-avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
      <% end %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li style="margin-left: 20px">
            Hello, <%= current_user.first_name.capitalize %>
          </li>
          <li>
            <%= link_to account_path do %>
            <%= t(".account", default: "Account") %>
            <% end %>
          </li>
          <li>
            <%= link_to edit_user_registration_path do %>
            <%= t(".settings", default: "Settings") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
            <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </li>


    <% else %>

    <li><%= link_to "All Steps", steplists_path, class: "navbar-wagon-item navbar-wagon-link" %>
    </li>
    <li>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    </li>


      <% end %>

    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>


