<div id='cssmenu'>
  <ul class="" style="text-align:right;">

    <li class='last' style="float: left;" id="stepify-logo"><%= link_to root_path, class: "navbar-wagon-brand" do %>
        <%= image_tag "logo4.png"%>
      <% end %>
    </li>


    <li class='first'>
      <div class="search-bar" style="">
        <%= form_tag search_path,method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control", placeholder: 'See steps for...', style: 'background-color: #f5f5f5; color: rgba(0, 0, 0, 0.075);border-style: none;color: #777; height: 30px; margin-top: 7px' %>
        <% end %>
      </div>
    </li>
    <li class='last'><%= link_to "Companies", organizations_path, class: "navbar-wagon-item navbar-wagon-link" %>
    </li>

    <!-- Stepify if logged in ///// -->
    <% if user_signed_in? %>
      <!-- Links when logged in////////// -->

      <li class='last'><%= link_to "Dashboard", dashboard_path, class: "navbar-wagon-item navbar-wagon-link" %>
      </li>
      <li class="last"><%= link_to "New Steplist", new_steplist_path, class: "navbar-wagon-item navbar-wagon-link" %>
      </li>
      <!-- Login link (when logged out) -->
      <% else %>
        </li>
        <li class='last'><%= link_to "All Steps", steplists_path, class: "navbar-wagon-item navbar-wagon-link" %>
        </li>
        <li class="last">
          <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
        </li>
    <% end %>



  </ul>
</div>


