
<!-- CENTER ICON AND LINE  -->
<div class="cd-timeline-block">
  <div class="cd-timeline-img cd-seeing bounceIn" data-toggle="modal" data-target="#Modalpopup_<%= step.id %>">
    <i class="fa fa-check" id="center-icon"></i>
  </div>

  <!-- STEP BLOCK CONTENT -->
  <div>
    <div class="cd-timeline-content bounceIn">
      <div class="row" data-toggle="modal" data-target="#Modalpopup_<%= step.id%>" id="locate<%=step.id%>">
        <h4 class="step-numerator" id="step-title-timeline" style="z-index: 2"> <%= current_user == @steplist.user ? best_in_place(step, :title, as: :input) : step.title  %></h4>

      </div>
    <!-- DATE AND EDIT ICONS -->
    <% if current_user == @steplist.user %>
    <span class="cd-date">
      <%= link_to '<i class="fa fa-pencil" id="step-edit-icon"></i>'.html_safe, edit_step_path(step) %>
      <%= link_to '<i class="fa fa-trash" id="step-delete-icon"></i>'.html_safe, step_path(step), method: :delete,data: {confirm: "No going Back"} %>
    </span>
    <span class="cd-date">
      <% end %>
      <div>
      </div>
    </div>
  </div>
  <% @steplist.steps.order(created_at: :asc).each_with_index do |step, index|  %>
    <div id="Modalpopup_<%= step.id %>" class="modal fade step-callback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" ><%= step.title %></h2>
          </div>
          <div class="modal-body">
            <%= render 'shared/show_of_step', step: step %>
            <div class="modal-footer">
              <% unless index == 0 %>
                <button class="btn btn-primary btn-md" data-toggle="modal" data-target="#Modalpopup_<%= step.steplist.steps.order(created_at: :asc)[index - 1].id %>" data-dismiss="modal"> BACK</button>
              <% end %>
              <% unless index == step.steplist.steps.size - 1 %>
                <button class="btn btn-primary btn-md" data-toggle="modal" data-target="#Modalpopup_<%= step.steplist.steps.order(created_at: :asc)[index + 1].id %>" data-dismiss="modal"> NEXT
                </button>
              <% end %>
              <% if index == step.steplist.steps.size - 1 %>
                <button class="btn btn-success btn-md" data-toggle="modal"  data-dismiss="modal"> Done</button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>




