

<div>
  <div class="">
    <div class="container">
      <h3 style="color: white; padding-top: 15px; padding-bottom: 15px;"><%= texto %></h3>
    </div>
  </div>

<%if user_signed_in? %>

  <ul class="nav nav-tabs stepify-index">
    <li role="presentation" class="<%= current_page?(steplists_path)? 'active': '' %>">
      <a href='<%= steplists_path %>'>All Steplists</a>
    </li>
    <li role="presentation" class="<%= current_page?(my_lists_path)? 'active': '' %>" >
      <a href='<%= my_lists_path %>'>My Steplists</a>
    </li>
    <li role="presentation" class="<%= current_page?(my_pins_path)? 'active': '' %>">
      <a href='<%= my_pins_path %>'>My Pins</a>
    </li>
    <% if current_user.organizations.any? %>
      <li role="presentation" class="<%= current_page?(my_orgs_path)? 'active': '' %>">
        <a href='<%= my_orgs_path %>'>My Company</a>
      </li>
    <% end %>
  </ul>
<% end %>
