<div class ="content-vertical-space">
  <div class="container">
    <%= render 'shared/tabs_index_bootstrap_tabs', texto: "Dashboard for: #{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" %>
    <div class="container steplist-cards-background">
      <table class="table dashboard-text">
        <tr>
          <th>
            Steps visited
          </th>
          <td>
            <%=  @my_views.count %>
          </td>
        </tr>
        <tr>
          <th>
            Steps viewed
          </th>
          <td>
            <%= @my_views_sum  %>
          </td>
        </tr>
        <tr>
          <th>
              Steplists Created
          </th>
          <td>
            <%= @my_steplists.count  %>
          </td>
        </tr>
        <tr>
          <th>
            Completed Created steplists
          </th>
          <td>
            <%= @my_seen_steplists  %>
          </td>
        </tr>
        <tr>
          <th>
            Views created Steplists
          </th>
          <td>
            <%= @views_for_my_steplists  %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
